### Pliki skompilowane (Java) ###
*.class

### Spakowane pliki wykonywalne ###
# Zazwyczaj nie wrzucamy ich do repo, chyba że to release
*.jar
*.war
*.ear
*.nar

### Logi ###
*.log

### Maven (narzędzie budowania) ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

### Gradle (narzędzie budowania) ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA (Środowisko) ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse (Środowisko) ###
.classpath
.project
.settings/
bin/

### Visual Studio Code ###
.vscode/

### Pliki systemowe (Mac/Windows) ###
.DS_Store
Thumbs.db

####################################
### FRONTEND (Angular / Node.js) ###
####################################

# Zależności (biblioteki) - TO JEST NAJWAŻNIEJSZE
node_modules/

# Cache Angular CLI
.angular/

# Wynik budowania aplikacji (produkcyjny kod JS/HTML)
dist/

# Pliki tymczasowe i logi błędów NPM/Yarn
npm-debug.log
yarn-error.log
test-report.xml

# Pokrycie kodu testami
coverage/

# Prywatne pliki środowiskowe (jeśli będziesz ich używać)
.env
