### Pliki skompilowane (Java) ###
*.class

### Spakowane pliki wykonywalne ###
# Zazwyczaj nie wrzucamy ich do repo, chyba że to release
*.jar
*.war
*.ear
*.nar

### Logi ###
*.log

### Maven (narzędzie budowania) ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

### Gradle (narzędzie budowania) ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA (Środowisko) ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse (Środowisko) ###
.classpath
.project
.settings/
bin/

### Visual Studio Code ###
.vscode/

### Pliki systemowe (Mac/Windows) ###
.DS_Store
Thumbs.db